{% extends 'base.html' %}

{% block content %}
<h1 style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">{% block title %} Editar "{{ post['title'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Post title"
               class="form-control"
               value="{{ request.form['title'] or post['title'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="content">Tarefa</label>
        <textarea name="content" placeholder="Conteudo Da Tarefa"
                class="form-control">{{ request.form['content'] or post['content'] }}</textarea>
    </div>

    <div class="form-group">
        <div class="row">
        <div class="col-md-6">
            <label for="deadline">Horário Limite</label>
            <input type="datetime" name="deadline" id="deadline" class="form-control" value="{{ request.form['deadline'] or post['deadline'] }}">
        </div>
        <div class="col-md-6">
            <label for="deadline">Data Limite</label>
            <input type="date" name="deadlineDate" id="deadlineDate" class="form-control" value="{{ request.form['deadlineDate'] or post['deadlineDate'] }}">
        </div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-save-only" style="background-color:rgba(32, 222, 187, 0.878); border-color:rgba(32, 222, 187, 0.878); color:rgb(118, 118, 118);font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">SALVAR</button>
    </div>
</form>
<hr>

<form action="{{ url_for('delete', id=post['id']) }}" method="POST">
        <input type="submit" value="Deletar tarefa"
                class="btn btn-danger btn-sm"
                onclick="return confirm('Tem certeza de que deseja excluir esta tarefa?')">
</form>

{% endblock %}
