
{% extends 'base.html' %}

{% block content %}

<h1 style='font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;'>{% block title %}TAREFAS{% endblock %}</h1>

{% for post in posts %}
<a href="{{ url_for('post', post_id=post['id']) }}" style="color:rgb(118, 118, 118); font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">
<h2>{{ post['title'] }}</h2> </a>

{% set data = post['deadlineDate'] | inf_data %}
{% set tempo = post['deadline'] | inf_tempo %}

{% if data > data_atual %} <!--- Caso data for maior -->
  <span class="badge badge-primary" style="background-color: rgba(32, 222, 187, 0.878); color:rgb(118, 118, 118); font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">HORÁRIO: {{ post['deadline'] }}</span><br>

{% elif data == data_atual and tempo > tempo_real %} <!--- se data for igual e horario for maior que o atual -->
  <span class="badge badge-primary" style="background-color: rgba(32, 222, 187, 0.878); color:rgb(118, 118, 118); font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">HORÁRIO: {{ post['deadline'] }}</span><br>

{% elif data < data_atual %} <!--- Caso data for menor -->
  <span class="badge badge-primary" style="background-color: red; color:rgb(65, 62, 62); font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">HORÁRIO: {{ post['deadline'] }}</span><br>

{% else %}
  <span class="badge badge-primary" style="background-color: red; color:rgb(65, 62, 62); font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">HORÁRIO: {{ post['deadline'] }}</span>

{% endif %}

{% if data > data_atual %} <!--- Caso data for maior -->
  <span class="badge badge-primary" style="background-color: rgba(32, 222, 187, 0.878); color:rgb(118, 118, 118); font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">DATA: {{ post['deadlineDate'] }}</span>

{% elif data == data_atual and tempo > tempo_real %} <!--- se data for igual e horario for maior que o atual -->
  <span class="badge badge-primary" style="background-color: rgba(32, 222, 187, 0.878); color:rgb(118, 118, 118); font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">DATA: {{ post['deadlineDate'] }}</span>

{% elif data < data_atual %} <!--- Caso data for menor -->
  <span class="badge badge-primary" style="background-color: red; color:rgb(65, 62, 62); font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">DATA: {{ post['deadlineDate'] }}</span>

{% else %}
  <br> <span class="badge badge-primary" style="background-color: rgba(32, 222, 187, 0.878); color:rgb(118, 118, 118); font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">DATA: {{ post['deadlineDate'] }}</span>

{% endif %}

<a href="{{ url_for('edit', id=post['id']) }}">
<span class="badge badge-warning" style="color:rgb(118, 118, 118); font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;" >Editar</span>
</a>
<hr>

{% endfor %}

{% endblock %}

